/* ALL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Colors */
:root {
  --grey-900: #48556a;
  --grey-500: #6e8098;
  --grey-400: #9daec2;
  --grey-200: #ecf2f8;
}

/* Typography */
html {
  font-size: 62.5%;
}
body {
  color: var(--grey-500);
  font-family: "manrope", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.12px;
  line-height: 140%;
}
h1 {
  color: var(--grey-900);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 130%;
  margin-bottom: 3rem;
}

/* Card */
body {
  align-items: center;
  background-color: var(--grey-200);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2.4rem 6.5rem;
  min-height: 100vh;
}
.card {
  background-color: white;
  border-radius: 1rem;
  width: 100%;
  padding: 0;
  justify-self: center;
  box-shadow: 0 40px 40px -10px rgba(201, 213, 225, 0.5);
  position: relative;
}
.card__content {
  padding: 3rem;
}
.image img {
  border-radius: 1rem 1rem 0 0;
}
img {
  width: 100%;
}

/* Author section */
.author__info {
  display: flex;
  gap: 1.6rem;
  padding: 1.6rem 3rem;
}
.author__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.author__name {
  font-weight: bold;
}
.date {
  color: var(--grey-400);
}
.share-btn {
  align-self: center;
  background-color: var(--grey-200);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 32px;
  margin-left: auto;
  padding: 5px;
  width: 32px;
}
/* Modal */
.overlay {
  width: 100%;
  background-color: var(--grey-900);
  border-radius: 0 0 1rem 1rem;
  display: flex;
  padding: 2.2rem 3rem;
  align-items: center;
  gap: 2rem;
  position: absolute;
  bottom: 0;
  opacity: 0;
}
.overlay p {
  color: var(--grey-400);
  letter-spacing: 0.25rem;
  font-weight: 500;
}
.icon {
  background: none;
  border: none;
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 0.5rem;
}
.share-btn-active {
  background-color: var(--grey-500);
  margin-left: auto;
  align-self: center;
}
