/* Colors */
:root {
  --grey-900: #48556a;
  --grey-500: #6e8098;
  --grey-400: #9daec2;
  --grey-200: #ecf2f8;
}

/* Typography */
html {
  font-size: 62.5%;
}
body {
  color: var(--grey-500);
  font-family: "manrope", sans-serif;
  font-size: 1.3rem;
  font-weight: medium;
  letter-spacing: 0.12%;
  line-height: 140%;
}
h1 {
  color: var(--grey-900);
  font-size: 2rem;
  font-weight: bold;
}
